.prototype_body_10 {
  background: var(--light-grey);
  font-family: Gudini;
  color: var(--dark-grey);
}

#prototype_10 {
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  height: 100%;
  //  margin: auto;

  .Container {
    width: 100%;

    .FishContainer {
      position: fixed;
      width: 47.9%;
      height: 94vh;
      margin-top: 20px;
      margin-left: 20px;
      border: 1px solid var(--dark-grey);
      border-radius: 40px;
      overflow: hidden;

      .fishkoi {
        position: absolute;
        width: 325px;
        height: 152px;
        object-fit: contain;
        opacity: 0;
      }
      .fishkoi_first {
        background-image: url(koi-fish_buttom.svg);
        top: -85px;
        left: -400px;
        transform: rotate(18deg);
        animation: 7s infinite koimovefirst;
      }
      @keyframes koimovefirst {
        from {
          top: -85px;
          left: -400px;
          transform: rotate(18deg);
        }

        to {
          top: 900px;
          left: 400px;
          transform: rotate(65deg);
        }
      }
      .fishkoi_second {
        background-image: url(koi-fish_top.svg);
        top: -80px;
        left: 900px;
        transform: rotate(-190deg);
        animation: 10s infinite koimovesecond;
      }
      @keyframes koimovesecond {
        from {
          top: -80px;
          left: 900px;
          transform: rotate(-190deg);
        }

        to {
          top: 600px;
          left: -300px;
          transform: rotate(-240deg);
        }
      }
      .fishkoi_third {
        background-image: url(koi-fish_top_black.svg);
        top: 900px;
        left: -100px;
        transform: rotate(18deg);
        animation: 14s infinite koimovethird;
      }
      @keyframes koimovethird {
        from {
          top: 900px;
          left: -100px;
          transform: rotate(-53deg);
        }

        to {
          top: -180px;
          left: 600px;
          transform: rotate(-24deg);
        }
      }
      .fishkoi_fourth {
        background-image: url(koi-fish_buttom_black.svg);
        top: -100px;
        left: 400px;
        transform: rotate(-124deg);
        animation: 5s infinite koimovefourth;
      }
      @keyframes koimovefourth {
        from {
          top: -100px;
          left: 400px;
          transform: rotate(-74deg);
        }

        to {
          top: 1000px;
          left: 100px;
          transform: rotate(-60deg);
        }
      }
      .fishkoi_fifth {
        background-image: url(koi-fish_top_red.svg);
        top: 400px;
        left: -300px;
        transform: rotate(14deg);
        animation: 8s infinite koimovefifth;
      }
      @keyframes koimovefifth {
        from {
          top: 400px;
          left: -300px;
          transform: rotate(-10deg);
        }

        to {
          top: 200px;
          left: 900px;
          transform: rotate(4deg);
        }
      }
      .fishkoi_sixth {
        background-image: url(koi-fish_buttom_red.svg);
        bottom: -200px;
        right: -300px;
        transform: rotate(-15deg);
        animation: 12s infinite koimovesixth;
      }
      @keyframes koimovesixth {
        from {
          bottom: -200px;
          right: -300px;
          transform: rotate(35deg);
        }

        to {
          bottom: 1000px;
          right: 900px;
          transform: rotate(60deg);
        }
      }
      .fishkoi_opacity {
        opacity: 1;
      }
      .waterLily {
        position: absolute;
        object-fit: contain;
      }
      .waterLilyFirst {
        background-image: url(water-lily1_synth_first.svg);
        width: 241px;
        height: 250px;
        top: 10px;
        right: 10px;
        animation: 2s infinite alternate waterLilyFirstMove;
      }
      @keyframes waterLilyFirstMove {
        from {
          top: 10px;
          right: 10px;
        }

        to {
          top: 15px;
          right: 15px;
        }
      }
      .waterLilySecond {
        background-image: url(water-lily1_synth_second.svg);
        width: 300px;
        height: 304px;
        bottom: 10px;
        left: 10px;
        animation: 2s infinite alternate waterLilySecondMove;
      }
      @keyframes waterLilySecondMove {
        from {
          bottom: 10px;
          left: 10px;
        }

        to {
          bottom: 15px;
          left: 15px;
        }
      }
    }
    .SynthContainer {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 47.9%;

      .SynthContainerFlex {
        display: flex;
        width: 100%;
        flex-direction: column;

        .SynthContainerHeader {
          display: flex;
          width: 100%;
          flex-direction: row;
          flex-wrap: nowrap;
          margin: 0;
          justify-content: space-between;

          .SC_Button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 297px;
            height: 129px;
            background-color: var(--orange-red);
            border-radius: 40px;
            color: var(--light-grey);
            font-size: 48px;
            line-height: 100%;
            padding-top: 2%;
            text-align: center;
            cursor: pointer;

            &:hover:not(.active) {
              background-color: var(--dark-grey);
              color: var(--light-grey);
              border: none;
            }
            &.active {
              background-color: var(--orange-red);
              color: var(--light-grey);
              border: none;
              cursor: default;
            }
          }
          .JapanHeader {
            background-image: url(synth_logo.svg);
            width: 360px;
            object-fit: contain;
          }
        }
        .ChannelContainer {
          margin-top: 20px;
          display: flex;
          width: 100%;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: center;
          border: 1px solid var(--dark-grey);
          border-radius: 40px;
          align-content: center;
          height: 162px;

          .ChannelNameContainer {
            flex-direction: column;
            align-content: center;
            justify-content: center;

            &:nth-of-type(2) {
              margin-left: 80px;
            }
            .ChannelName {
              font-size: 32px;
              line-height: 96.02%;
              text-align: center;
              margin: 22px 0 15px 0;
            }
            .Channel {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-content: center;
              margin-left: 10px;
            }
            .SC_ToggleButton {
              width: 58px;
              height: 27px;
              background-color: var(--dark-grey);
              border-radius: 15px;
              text-align: center;
              font-size: 10px;
              display: flex;
              justify-content: center;
              align-items: center;
              padding-top: 1%;
              color: var(--light-grey);
              margin-top: 38px;
              margin-left: 15px;
              cursor: pointer;

              &:hover:not(.active) {
                background-color: var(--light-grey);
                color: var(--dark-grey);
                border: 1px solid var(--dark-grey);
                cursor: pointer;
              }
              &.active {
                background-color: var(--orange-red);
                color: var(--light-grey);
                cursor: pointer;
              }
            }
          }
        }
        .ToneSynthContainer {
          margin-top: 20px;
          display: flex;
          width: 100%;
          flex-direction: column;
          flex-wrap: nowrap;
          height: 320px;

          .ToneSynth {
            border: 1px solid var(--dark-grey);
            border-radius: 40px;
            height: 150px;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            text-align: center;

            .SC_ToggleButtonSet {
              display: flex;
              flex-direction: column;
              align-items: center;
              flex-wrap: nowrap;

              h3 {
                margin: 22px 0 15px 0;
                font-size: 32px;
                line-height: 96.02%;
              }

              div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 80%;
                margin-top: 5px;

                .SC_ToggleButton {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  width: 119px;
                  height: 40px;
                  background: var(--dark-grey);
                  border-radius: 10px;
                  font-size: 16px;
                  line-height: 100%;
                  text-align: center;
                  letter-spacing: -0.04em;
                  color: var(--light-grey);
                  padding-top: 1%;
                  cursor: pointer;

                  &:hover:not(.active) {
                    background-color: var(--light-grey);
                    color: var(--dark-grey);
                    border: 1px solid var(--dark-grey);
                    cursor: pointer;
                  }
                  &.active {
                    background-color: var(--orange-red);
                    color: var(--light-grey);
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .SynthSliderContainer {
            border: 1px solid var(--dark-grey);
            border-radius: 40px;
            height: 150px;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            margin-top: 60px;

            .SliderContainerName {
              font-size: 32px;
              line-height: 96.02%;
              text-align: center;
              margin: 22px 0 15px 0;
            }
          }
        }
        .ChorusEffectContainer {
          border: 1px solid var(--dark-grey);
          border-radius: 40px;
          height: 150px;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          margin-top: 20px;

          .ChorusEffectName {
            font-size: 32px;
            line-height: 96.02%;
            text-align: center;
            margin: 22px 0 15px 0;
          }
        }
        .AutofilterContainer {
          border: 1px solid var(--dark-grey);
          border-radius: 40px;
          height: 150px;
          flex-direction: column;
          flex-wrap: nowrap;
          justify-content: center;
          margin-top: 20px;
          height: 180px;
          margin-bottom: 30px;

          .AutofilterName {
            font-size: 32px;
            line-height: 96.02%;
            text-align: center;
            margin: 22px 0 15px 0;
          }
          .SC_ToggleButtonSet {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: auto;

            h3 {
              margin-left: 60px;
              margin-bottom: 0;
            }
            div {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              width: 180px;

              .SC_ToggleButton {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 84px;
                height: 24px;
                background: var(--dark-grey);
                border-radius: 5px;
                font-size: 11px;
                line-height: 100%;
                text-align: center;
                letter-spacing: -0.04em;
                color: var(--light-grey);
                padding-top: 1%;
                margin: 2px;
                cursor: pointer;

                &:hover:not(.active) {
                  background-color: var(--light-grey);
                  color: var(--dark-grey);
                  border: 1px solid var(--dark-grey);
                  cursor: pointer;
                }
                &.active {
                  background-color: var(--orange-red);
                  color: var(--light-grey);
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .SC_Slider {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        h3 {
          margin-bottom: 14px;
          font-size: 16px;
        }

        input[type='range'] {
          -webkit-appearance: none;
          width: 150px;

          &::-webkit-slider-runnable-track {
            height: 4px;
            background: var(--dark-grey);
            border: none;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: none;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: var(--dark-grey);
            margin-top: -8px;
            cursor: pointer;
          }

          &:focus {
            outline: none;

            &::-webkit-slider-runnable-track {
              background: var(--orange-red);
            }
          }
        }
      }
      .SliderContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: auto;
        justify-content: center;
        width: 90%;
        align-items: flex-start;

        h3 {
          margin: 10px 0;
        }
      }
    }
  }
}
